.addButton {
    padding: 10px 15px;
    margin-left: 20px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: rgb(74, 162, 197);
    color: white;
}

input {
    padding: 10px 15px;
    border: gray 1px solid;
    border-radius: 5px;
    
}

input:focus {
    outline-width: 0.1px;
    outline-color: rgb(122, 122, 199);
}